.frontend {
  height: 90vh;
  padding-top: 105px;
  background: url("../images/banner.png") no-repeat;
  background-size: cover;
  background-position: bottom;
}

.navbar-brand {
  font-weight: 700;
}

#menu .nav-pills .nav-link.active {
  background-color: transparent;
}

.nav-link {
  padding: 17px 55px;
}

/* adjust tabs to bootstrap bg-light background */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #f8f9fa;
  border-color: #dee2e6 #dee2e6 #f8f9fa;
}

#menu-my-kitties .nav-link {
  width: 156px;
}

/* tabs in style of navbar-dark in --bs-gray-dark color context */
#menu-my-kitties .nav-link {
  color: rgba(255, 255, 255, 0.55);
}
#menu-my-kitties .nav-link:focus,
#menu-my-kitties .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}
#menu-my-kitties .nav-tabs .nav-item.show .nav-link,
#menu-my-kitties .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #343a40;
  border-color: #dee2e6 #dee2e6 #343a40;
}

/* tabs in style of navbar-dark in bg-light color context */
.nav-link {
  color: rgba(73, 80, 87, 0.55);
}
.nav-link:focus,
.nav-link:hover {
  color: rgba(73, 80, 87, 0.75);
}

/* yellow highlighting of navbar text */
/*
#menu .navbar-dark .navbar-nav .nav-link b:focus,
#menu .navbar-dark .navbar-nav .nav-link b:hover,
#menu .navbar-brand:hover,
#menu-my-kitties .nav-link b:hover,
#menu-my-kitties .nav-link b:focus {
  color: var(--bs-warning);
}
*/

.catGroup {
  margin-top: 120px;
  width: 50%;
}

#canvas {
  position: absolute;
}

.banner {
  background-color: rgba(161, 36, 7, 0.8);
  margin-top: -30px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  width: 82%;
  text-align: center;
  position: relative;
}

.middleBox {
  margin-top: 80px;
  margin-bottom: 120px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 106px;
  background: #343a40;
  padding-right: 0 !important;
}

.absoluteBelowNavbar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 106px;
}

@media (max-width: 992px) {
  /* #menu .fixed-top {
    position: absolute;
  } */

  body {
    padding-top: 88px;
  }

  .absoluteBelowNavbar {
    top: 88px;
  }

  #menu .nav-link {
    padding: 8px 0;
  }
}

.topBar {
  display: block;
  width: 100%;
  border-radius: 0%;
}

.alert {
  border-radius: 0;
}

main {
  flex: 1 0 auto;
}

footer {
  width: 100%;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.catContainer {
  margin: auto;
  margin-top: 4px;
  border-top: 4px solid var(--bs-light);
  border-bottom: 6px solid var(--bs-light);
  border-radius: 0 0 7.5rem 7.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: 0.5s ease-in-out;
}
.catContainer:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.45);
}

/* https://www.schemecolor.com/olympic-medals-color-scheme.php */
.goldBorder {
  border-color: #d6af36;
}
.silverBorder {
  border-color: #a7a7ad;
}

.catCard {
  width: 18rem;
}

.card {
  margin: auto;
}
.card-body {
  padding: 8px 8px;
}

.catContainer.catBackground {
  min-width: 250px;
  min-height: 200px;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}
.catBackground.paw {
  background-image: url("../img/paw.svg");
  background-size: 30%;
}

.moonlightImg {
  width: 100%;
}

.featureCard {
  max-width: 300px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: 0.5s ease-in-out;
}

.featureCard:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.featureCardImg {
  height: 100px;
}

.alert-link {
  font-weight: normal;
}
